:root {
	--body-bg-color: #e4e9f7;
	--sidebar-color: #fff;
	--primary-color: #548df5;
	--secondary-color: #ebf2ff;
	--toggle-color: #ddd;
	--text-color: #303030;

	--trans-02: all 0.2s ease;
	--trans-03: all 0.3s ease;
	--trans-04: all 0.4s ease;
	--trans-05: all 0.5s ease;
}
* {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	height: 100vh;
	background: var(--body-bg-color);
}
.text {
	font-size: 16px;
	font-weight: 500;
	color: var(--text-color);
}
.image {
	min-width: 60px;
	display: flex;
	align-items: center;
}
.round-border {
	border-radius: 6px;
}

/***** SIDEBAR ******/
.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 375px;
	padding: 10px;
	background: var(--sidebar-color);
}
.sidebar header {
	position: relative;
}
.img-text img {
	width: 100px;
}
.img-text {
	display: flex;
	align-items: center;
}
.header-text {
	display: flex;
	flex-direction: column;
}
.name {
	font-weight: 600;
}
.toggle {
	position: absolute;
	top: 50%;
	right: -25px;
	transform: translateY(-50%);
	height: 25px;
	width: 25px;
	background: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	color: var(--sidebar-color);
	font-size: 22px;
}
.sidebar li {
	height: 50px;
	margin-top: 10px;
	list-style: none;
	display: flex;
	align-items: center;
}
.sidebar li a {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	text-decoration: none;
	transition: var(--trans-04);
}
.sidebar li a:hover {
	background: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
	color: var(--sidebar-color);
}
.sidebar li a .icon,
.sidebar li a .text {
	color: var(--text-color);
	transition: var(--trans-02);
}
.menu-bar {
	height: calc(100% - 50px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 60px;
	font-size: 20px;
}
.search-box {
	background: var(--secondary-color);
}
.search-box input {
	height: 100%;
	width: 100%;
	outline: none;
	border: none;
	background: var(--secondary-color);
}
.mode {
	background: var(--secondary-color);
}
.mode i {
	position: absolute;
}
.moon-sun {
	width: 50px;
	display: flex;
	align-items: center;
}
.mode i.sun {
	opacity: 0;
}
.toggle-switch {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	min-width: 60px;
	cursor: pointer;
}
.switch {
	position: relative;
	height: 22px;
	width: 44px;
	border-radius: 25px;
	background: var(--toggle-color)
}
.switch::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 5px;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	transform: translateY(-50%);
	background: var(--sidebar-color);
}